*{
    box-sizing: border-box;
    font-family: "Poppins", serif;
}
#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.find-job-wrapper h3{
    margin: 0;
}
.find-job-wrapper .job-search-outer{
   
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 0;
   
}
.find-job-wrapper .job-wrapper{
    width: 100%;  
    border: solid #282828 1.5px;
    border-radius: 6px;
    display: flex;
    
}
.find-job-wrapper .box-wrapper-a{
    flex-grow: 1;
    position: relative;
}

.find-job-wrapper .box-wrapper-c{
    display: flex;
    align-items: center;
    justify-content: center;
}
.find-job-wrapper .box-wrapper-c i{
   display: none;
}
.find-job-wrapper .box-wrapper-a i,.find-job-wrapper .box-wrapper-b i{
    position: absolute;
    top: 30%;
    left: 12px;
    color: #282828;
    
}

.find-job-wrapper input{
    padding: 18px 36px;
    outline: transparent;
    border: transparent;
    font-weight: 600;
    font-size: .8rem;
}
.find-job-wrapper input:focus{
    border: solid #282828 2px;
    
}
.find-job-wrapper .box-wrapper-b{
   
    flex-grow: 1;
    position: relative;
}
.find-job-wrapper .find-btn{
   
    margin: 0 2px;
    padding: 14px 20px;
    background-color: #282828;
    border: transparent;
    font-size: .9rem;
    color: white;
    border-radius: 6px;
    cursor: pointer;
   
}
.hero-container{
    margin-top: 65px;
}
.hero-container img{
    height: 65vh;
    width: 100%;
}
.hero-container .dream-container{
    position: absolute;
    margin-bottom: 22px;
    background-color: white;
    
    width: 400px;
    top: 20%;
    left: 4%;
    z-index: 1;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    
}
.hero-container .dream-container .search-box{
    border: solid #6a6f73 1.2px;
    border-radius: 8px;
    display: flex;
    padding: 3px;
}
.hero-container .dream-container .search-box input{
    flex-grow: 1;
    border: transparent;
    padding: 12px 20px;
}
.hero-container .dream-container .search-box input:focus{
    outline: transparent;
}
.hero-container .dream-container .search-box .icon{
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}
.mobile-dream{
    display: none;
}

.course-wrapper{
    padding: 20px 40px;
}
.course-wrapper .course-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    grid-template-rows: repeat(auto,390px);
    grid-auto-rows: 240px;
    gap: 1.0rem;
   
   
}
.course-wrapper .course-container .card{
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 26%);
    border-radius: 10px;
    text-decoration: none;
    position: relative;
}
.course-wrapper .course-container  .heart-button i{
    padding: 4px 10px;
}
.course-wrapper .course-container  .heart-button{
    position: absolute;
    top: 0;
    right: 20px;
   
}
.course-wrapper .course-container  .red-heart i{
    color: black;
   
}
.search-wrapper{
    margin-top: 50px;
}
.enrolled{
    background-color: #2d2f31;
    padding:2px 6px;
    color: white;
    font-size: .8rem;
}

.course-wrapper .course-container .card img{
    height: 40%;
    width: 100%;
    object-fit: contain;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.course-wrapper .course-container .card-details{
    padding: 0 15px;
}
.course-wrapper .course-container .card-details h2{
    font-size: .85rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2; /* Number of lines to show */
    white-space: normal; 
    margin-top: 3px
}
.course-wrapper .course-container .card-details .author-name{
    color: #6a6f73;
    font-size: .8rem;
}
.course-wrapper .course-container .card-details .stars i{
    color: gold;
    font-size: .8rem;
}
.course-wrapper .course-container .card-details .box{
    margin-right: 5px;
    margin-top: 3px;
    font-weight: 600;
}
.course-wrapper .course-container .card-details .price-card {
    margin-top: 10px;
    font-size: .8rem;
}
.course-wrapper .course-container .card-details .price-card .price{
    font-weight: 900;
    margin-right: 10px;
}
.course-wrapper .course-container .card-details .price-card .discount{
    font-weight: 900;
   color: #6a6f73;
   text-decoration: line-through;
}
.course-wrapper .course-container .card-details .ratings-card{
    font-size: .8rem;
   
}
.category-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.category-wrapper .container{
    padding: 10px 80px;
   
}
.category-wrapper .container .title{
    font-weight: 900;
   
}

.category-wrapper .container-wrapper .card{
    display: inline-block;
    margin: 10px 5px;
    padding: 15px 10px;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.category-wrapper .container-wrapper .card .icon{
    margin-right: 5px;
    
}

@media screen and (max-width:799px){
    .category-wrapper .container-wrapper{
        display: grid;
        grid-template-columns:repeat(2,1fr);
        grid-template-rows: auto;
    }
    .find-job-wrapper .box-wrapper-a i{
       display: none;
    }
    .find-job-wrapper .box-wrapper-b i{
        display: none;
     }
     .find-job-wrapper .job-wrapper{
        background-color: #282828;
     }
     .find-job-wrapper input{
        padding: 7px 10px;
        border-radius: 15px;
        outline: none;
     }
     .find-job-wrapper .box-wrapper-a{
        margin-right: 10px;
     }
     .find-job-wrapper .job-wrapper{
        padding: 10px;
     }
     .find-job-wrapper .find-btn {
       padding: 14px 7px;
     }
     .find-job-wrapper input:focus{
        outline: none;
        border: none;
     }
     
    
     .find-job-wrapper .job-wrapper{
        display: flex;
        align-items: center;
     }
    
    .category-wrapper .container-wrapper .card{
        display: flex;
        align-items: center;
        padding: 5px 10px;
       border: solid 1px #282828;
       border-radius: 10px;
       box-shadow: none;
       justify-content: center;
     }
     .category-wrapper .container {
        padding: 10px 20px;
    }
    .find-job-wrapper .box-wrapper-c i{
        display: block;
     }
     .find-job-wrapper .box-wrapper-c span{
        display: none;
     }
    .hero-container .dream-container{
        display: none;
       
    }
    .course-wrapper .popular{
        margin-top: 16px;
    }
    .course-wrapper .popular h2{
        font-size: 1.2rem;
        padding: 0;
        margin: 3px 0;
    }
    .hero-container img{
        height: 30vh;
        object-fit: cover;
    }
    .mobile-dream{
        display: block;
    }
    .mobile-dream .wrapper{
        margin: 0;
        padding: 0;
    }
    .mobile-dream h2{
        margin: 0;
        padding: 0;
        font-size: 1.2rem;
    }
    .mobile-dream p{
        font-size: .75rem;
       
    }
    .mobile-dream .dream-container{
        margin-bottom: 2px;
        background-color: white;
        padding: 0 20px 20px 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    }
    .mobile-dream  .dream-container .search-box{
        border: solid #6a6f73 1.2px;
        border-radius: 8px;
        display: flex;
        padding: 3px;
    }
    .mobile-dream  .dream-container .search-box input{
        flex-grow: 1;
        border: transparent;
        padding: 12px 20px;
    }
    .mobile-dream  .dream-container .search-box input:focus{
        outline: transparent;
    }
    .mobile-dream  .dream-container .search-box .icon{
        padding: 0 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
    }
    .category-wrapper .container-wrapper .card .text{
        font-size: .7rem;
        line-height: 1;
    }
    .category-wrapper .container-wrapper .card .icon{
        font-size: .7rem;
    }

}