
.tabs-header-wrapper{
    margin-top: 80px;
}

.tabs-header-wrapper .title{
    font-size: 1.8rem;
    font-weight: 600;
}
.tabs-header-wrapper .accordion-header-tab{
    display: flex;
    border-bottom: solid #2d2f31 1.3px;
    padding: 0 10px;

}
.tabs-header-wrapper .accordion-header-tab .tab{
    margin: 0 10px;
    cursor: pointer;
    padding: 10px 0;
    font-weight: 600;
}
.tabs-header-wrapper .accordion-header-tab .tab.show{
    border-bottom: solid #2d2f31 1.4px;
}
.tabs-header-wrapper .accordion-header-tab .tab:hover{
    border-bottom: solid #2d2f31 1.4px;
}
.tabs-header-wrapper .job-section-wrapper .job-card{
    border: solid #d4d2d0 1px;
    display: flex;
    margin-top: 20px;
    padding: 10px 20px;
}
.tabs-header-wrapper .job-section-wrapper .job-card .title{
    font-size: 1.1rem;
    margin-bottom: 8px;
}
.tabs-header-wrapper .job-section-wrapper .job-card img{
   height: 60px;
   width: 60px;
   border-radius: 60px;
}